body {
  font-family: 'Segoe UI', sans-serif;
  background: #fdfcfe;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.malla {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.anio h2 {
  margin-bottom: 15px;
}

.semestres {
  display: flex;
  gap: 20px;
}

.semestre {
  background: #f6f6f6;
  padding: 15px;
  border-radius: 16px;
  min-width: 260px;
}

.semestre h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* 👉 RAMOS */
.semestre p {
  background: #e6d9ff;
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

/* hover */
.semestre p:hover {
  background: #d1bfff;
}

/* 👉 RAMO APROBADO */
.semestre p.aprobado {
  background: #b197fc;
  color: white;
  text-decoration: line-through;
  opacity: 0.8;
}
