body {
  font-family: 'Segoe UI', sans-serif;
  background: #fbf7fc;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.malla {
  .malla {
  display: flex;
  flex-direction: row;   /* años hacia el lado */
  gap: 40px;
  overflow-x: auto;
}

/* AÑO */
.anio h2 {
  margin-bottom: 10px;
}

/* FILA HORIZONTAL */
.semestres {
  display: flex;
  gap: 25px;
  overflow-x: auto;
}

/* COLUMNA */
.semestre {
  min-width: 260px;
  padding: 15px;
  border-radius: 20px;
  background: #f3f3f3;
}

/* títulos */
.semestre h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* RAMOS - estado normal */
.semestre p {
  background: #ffd6e7;   /* rosado pastel */
  padding: 8px 12px;
  margin: 7px 0;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

/* hover */
.semestre p:hover {
  transform: scale(1.03);
}

/* RAMO APROBADO (lavanda) */
.semestre p.aprobado {
  background: #b8a4ff;   /* lavanda/morado */
  color: white;
  text-decoration: line-through;
}
