body {
  font-family: 'Segoe UI', sans-serif;
  background: #fbf7fc;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.malla {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* AÑO */
.anio h2 {
  margin-bottom: 10px;
}

/* FILA HORIZONTAL */
.semestres {
  display: flex;
  gap: 25px;
  overflow-x: auto;
}

/* COLUMNA */
.semestre {
  min-width: 260px;
  padding: 15px;
  border-radius: 20px;
  background: #f3f3f3;
}

/* títulos */
.semestre h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* RAMOS */
.semestre p {
  background: #e7dcff;
  padding: 8px 12px;
  margin: 7px 0;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

/* hover */
.semestre p:hover {
  transform: scale(1.03);
}

/* APROBADO */
.semestre p.aprobado {
  background: #b79cff;
  color: white;
  text-decoration: line-through;
  opacity: 0.85;
}

/* COLORES POR AVANCE */
.semestre.lavanda p {
  background: #e7dcff;
}

.semestre.rosado p {
  background: #ffd6e7;
}
