body {
  font-family: 'Segoe UI', sans-serif;
  background: #fbf7fc;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.malla {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  overflow-x: auto; /* permite deslizar hacia el lado */
  padding-bottom: 20px;
}

/* AÑO */
.anio {
  min-width: 320px;
}


/* FILA HORIZONTAL */
.semestres {
  display: flex;
  gap: 20px;
}

/* COLUMNA */
.semestre {
  background-color: #fdecef;
  padding: 15px;
  border-radius: 20px;
  min-width: 240px;
}

/* títulos */
.semestre h3 {
  text-align: center;
  margin-bottom: 10px;
}

/* RAMOS - estado normal */
.semestre p {
  background: #ffd6e7;   /* rosado más claro */
  padding: 8px 12px;
  margin: 7px 0;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;

}

/* hover */
.semestre p:hover {
  transform: scale(1.03);
}

/* RAMO APROBADO (lavanda) */
/* aprobado = lavanda */
.semestre p.aprobado {
  background: #b8a4ff;
  color: white;
  text-decoration: line-through;
}
